.header {

    position: fixed;
    width: 100vw;
    z-index: 100;


    left: 0;
    top: 0;

    padding-top: 40px;
    background-color: var(--bg-header-grey);

    color: var(--color-main);
}

.header__row {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 212px;
}

.header__logo {
    color: inherit;
    font-size: 36px;
    text-transform: uppercase;
}

.header_nav-list {

    display: flex;
    gap: 30px;

}

.header__nav-link {
    color: inherit;
    font-size: 18px;
    transition: .2s ease-in;
}
.header__nav-link:hover{
    color: #ffa500;
}



@media (max-width:970px) {
    .header__row {
        justify-content: space-around;
        
    }
}

@media (max-width:842px) {
    .header__row{
        gap: 50px;
    }
}

@media (max-width:610px) {
    .header__nav-link {
        font-size: 16px;
    }
}

@media (max-width:580px) {
    .header__row{
    }
    .header__nav {
        display: none;
    }
}
