.header {

    position: fixed;

    z-index: 100;
    width: 100%;

    left: 0;
    top: 0;

    padding-top: 40px;
    background-color: var(--bg-header-grey);

    color: --color-main;
}

.header__row {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 212px;
}

.header__logo {
    color: inherit;
    font-size: 36px;
    text-transform: uppercase;
}

.header_nav-list {

    display: flex;
    gap: 30px;

}

.header__nav-link {
    color: inherit;
}

@media (max-width:1500px){
    .header{
        width: 100%;
    }
    .header__logo {
        
        font-size: 30px;
        
    }
}