.info {
    padding: 100px 0 0;
    display: flex;

    background-color: var(--bg-active-black);

}

.info__img {

    object-fit: contain;
}

.lt {
    padding-right: 53px;
}

.rt {
    padding-left: 53px;
}

.info__blocks {
    padding-top: 53px;

    width: min(614px, 100%);
}

.info__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__pic {
    padding-right: 10px;
}

.info__text {
    font-size: 24px;
}

.divider {
    margin: 40px 0 40px;
}

.info__btn {
    margin-top: 12px;
    padding: 32px 0 32px;
    display: flex;
    justify-content: center;
    width: min(614px, 100%);
    border-radius: 4px;


    background-color: var(--color-main);
    text-transform: uppercase;
}

.info__btn a {
    font-size: 24px;
    font-weight: 700;
    color: var(--bg-active-black);
}

/* @media (max-width:1700px) {
    .info {
        flex-direction: column;
    }

    .info__blocks {
        margin: 0 auto;
    }

    .info__img {
        padding: 0 20px;
    }

    .info__btn {
        margin: 20px 0 20px;
    }
} */

@media (max-width:730px) {
    .info__blocks {

        width: min(500px, 100%);
    }

    .info__text {
        font-size: 20px;
    }

}

@media (max-width:620px) {
    .info__block {
        padding: 0 15px;
        margin-bottom: 10px;
        flex-direction: column;
    }

    .info__text {
        font-size: 18px;
    }

    .info__pic {
        padding-bottom: 10px;
    }

    .info__btn a {
        font-size: 18px;
    }

    .info__btn {
        margin: 0 auto 10px;
        padding: 20px 0 20px;
        width: min(320px, 100%);
    }
}