.promo {
    display: flex;
    justify-content: space-between;
    padding: 244px 0 50px 102px;
    background-color: var(--bg-header-grey);
}

.promo__wrapper {
    max-width: min(100%, 537px);
}

.promo__title {
    font-family: 'Prata', sans-serif;
    font-size: 80px;

}

.promo__descr {
    margin-top: 50px;
    font-size: 50px;
}

.promo__prices {
    margin-top: 30px;
    margin-bottom: 80px;
}

.promo__price {
    padding-top: 34px;

    font-size: 24px;
}

.promo__price span {
    padding-right: 15px;

    font-size: 40px;

}

.promo__pic {
    padding-right: 15px;
}

.promo__btn {
    width: min(191px, 100%);
    border-radius: 4px;
    margin-top: 40px;
    padding: 40px 50px;

    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;


    background-color: #fff;
}

.promo__btn a {
    color: var(--bg-header-grey);
}

.promo__img {
    position: relative;
    top: -240px;
    object-fit: contain;
    width: min(100%, 763px);
    height: min(100%, 1009px);

}

/* @media (max-width:1500px) {
    .promo {
        flex-direction: column;
    }

    .promo__title {

        font-size: 65px;

    }
    .promo__prices{
        margin-bottom: 20px;
    }
    .promo__descr {}

    .promo__btn {
        margin: 0;
    }

    .promo__img {
        margin: 0 auto;
        width: min(100%, 430px);
        top: 20px;
        padding-right: 25px;
    }
} */

@media (max-width:730px) {
    .promo__title {

        font-size: 45px;
    }

    .promo__descr {
        font-size: 35px;
    }

    .promo__price {

        font-size: 20px;
    }

    .promo__price span {

        font-size: 30px;
    }
}

@media (max-width:620px) {
    .promo{
        padding-left: 25px;
    }
    .promo__wrapper{
        text-align: center;
    }
    .promo__title {
        
        font-size: 35px;
    }

    .promo__descr {

        font-size: 20px;
    }

    .promo__price {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        font-size: 18px;
    }
    .promo__btn {
        margin: 0 auto;
        width: min(150px, 100%);
        padding: 20px 30px;

        font-size: 18px;
    }
    .promo__pic {
        padding-bottom: 10px;
    }

}