:root{



    --color-main:#fff;

    --bg-header-grey:#222222;

    --font-color-grey:#38535D;

    --bg-main-black:#333333 ;
    --bg-active-black:#282829 ;

    --color-form:#55565A;

}